<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHL Team Information</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
        // JavaScript code and function to validate form input
        function validateForm(event) {
            // Get the input value
            const teamNameInput = document.getElementById('team_name').value.trim();

            // Check if the input is empty
            if (teamNameInput === '') {
                alert("Please enter a team name.");
                // Prevent the form from submitting if input is empty 
                event.preventDefault();
            }
        }

        // Attach the validateForm function to the form's submit event
        window.onload = function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', validateForm);
        };
    </script>
</head>

<body>
    <h1>Welcome! Get Information About Your Favorite NHL Team</h1>
    <img src="/images/NHL-Logo.jpg" alt="Image of NHL Logo" height="100" />
    
    <form action="/nhlteaminfo" method="post">
        <label for="team_name">Enter Team Name:</label> 
        <input type="text" id="team_name" name="team_name" placeholder="i.e. Boston Bruins...">
        <button type="submit">Get Info</button>
    </form>

</body>

</html>


